        <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->


        <!-- CORE JS FRAMEWORK - START --> 
        <script th:src="@{/res/assets/js/jquery-1.11.2.min.js}" type="text/javascript"></script> 
        <script th:src="@{/res/assets/js/jquery.easing.min.js}" type="text/javascript"></script> 
        <script th:src="@{/res/assets/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script> 
        <script th:src="@{/res/assets/plugins/pace/pace.min.js}" type="text/javascript"></script>  
        <script th:src="@{/res/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js}" type="text/javascript"></script> 
        <script th:src="@{/res/assets/plugins/viewport/viewportchecker.js}" type="text/javascript"></script>  
        <!-- CORE JS FRAMEWORK - END --> 

        <!-- CORE TEMPLATE JS - START --> 
        <script th:src="@{/res/assets/js/scripts.js}" type="text/javascript"></script> 
        <!-- END CORE TEMPLATE JS - END --> 

        <!-- Sidebar Graph - START --> 
        <script th:src="@{/res/assets/plugins/sparkline-chart/jquery.sparkline.min.js}" type="text/javascript"></script>
        <script th:src="@{/res/assets/js/chart-sparkline.js}" type="text/javascript"></script>
        <!-- Sidebar Graph - END --> 