		
        <link rel="shortcut icon" th:href="@{/res/assets/images/favicon.png}" type="image/x-icon" />    <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" th:href="@{/res/assets/images/apple-touch-icon-57-precomposed.png}">	<!-- For iPhone -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/res/assets/images/apple-touch-icon-114-precomposed.png}">    <!-- For iPhone 4 Retina display -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/res/assets/images/apple-touch-icon-72-precomposed.png}">    <!-- For iPad -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/res/assets/images/apple-touch-icon-144-precomposed.png}">    <!-- For iPad Retina display -->

        <!-- CORE CSS FRAMEWORK - START -->
        <link th:href="@{/res/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen"/>
        <link th:href="@{/res/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/res/assets/plugins/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/res/assets/fonts/font-awesome/css/font-awesome.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/res/assets/css/animate.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/res/assets/plugins/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" type="text/css"/>
        <!-- CORE CSS FRAMEWORK - END -->
        
        
        
        <!-- CORE CSS TEMPLATE - START -->
        <link th:href="@{/res/assets/css/style.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/res/assets/css/responsive.css}" rel="stylesheet" type="text/css"/>
        <!-- CORE CSS TEMPLATE - END -->